{% extends "main.html" %}

{% block main %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <a href="/usuario/cadastro" class="btn btn-success"> Cadastrar</a>
                </div>
                <div class="card-body">
                    <table class="table table-success table-striped">
                        <thead>
                            <tr>Codigo</tr>
                            <tr>Nome</tr>
                            <tr>Sobremome</tr>
                            <tr>ação</tr>
                            
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>

    {% endblock %}